
    <nvd3-discrete-bar-chart data="TicketsByPriority"
                         id="showValueExample"
                         showxaxis="true"
                         showyaxis="true"
                         width="550"
                         height="300"
                         tooltips="true"
                         showlegend="true"
                         showlabels="true"
                         showvalues="true">
    <svg></svg>
</nvd3-discrete-bar-chart>


<div>
    <knob knob-data="20" konb-options="{width: 150,cursor: true,thickness: .3,fgColor: '#222222'}"></knob>
</div>