   <nvd3-discrete-bar-chart data="TicketsByPriority"
                         id="showValueExample"
                         showxaxis="true"
                         showyaxis="true"
                         width="550"
                         height="300"
                         showlabels="true"
                         showvalues="true"
                         showLegend ="true"
                         tooltips="true">
    <svg></svg>
</nvd3-discrete-bar-chart> 
 
<!--<highchart id="chart1" config="barChartConfig"></highchart>-->   