<div class="row" ng-controller="loginController">
    <div class="col-md-3 sidebar">
        <div class="row"><list-group></list-group></div>
        <div class="row">
            <vm-title title-value="Customer Satisfaction" style-value="info alert-info"></vm-title>
        <knob knob-data="20" knob-options='{"fgColor":"#66CC66","angleOffset":-125,"angleArc":250, "linecap":"round"}'></knob>
        </div>        
    </div>
    <div class="col-md-9">
            <div class="row">
                <div class="col-md-6">
                    <vm-title title-value="Tickets by priority" style-value="info alert-info"></vm-title>
                    <section data-ng-include=" 'app/views/dashboard/bar-chart.html' "></section>
                </div>
                <div class="col-md-6">
                    <vm-title title-value="Monthly average tickets in 2015" style-value="info alert-info"></vm-title>
                    <section data-ng-include=" 'app/views/dashboard/pie-chart.html' "></section>
                </div>
            </div>        
           <div class="row">
               <div class="col-md-6">
                  
               </div>
                  
               </div>
            <!--<section data-ng-include=" 'app/views/dashboard/inbox-table.html' "></section>-->
            <!--<section data-ng-include=" 'app/views/dashboard/area-chart.html' "></section>--> 
    </div>
</div>