<div class="col-xs-6 col-sm-2 vm-holder"><img holder="holder.js/125x125/random/text:Sam/sky"></div>
<div class="col-xs-6 col-sm-2 vm-holder"><img holder="holder.js/125x125/random/text:Sam/vine"></div>
<div class="col-xs-6 col-sm-2 vm-holder"><img holder="holder.js/125x125/random/text:Sam/lava"></div>
<div class="col-xs-6 col-sm-2 vm-holder"><img holder="holder.js/125x125/random/text:Sam/industrial"></div>
<div class="col-xs-6 col-sm-2 vm-holder">
    <img holder="holder.js/125x125/random/text:Sam/gray">
</div>

