
* {
    -webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	outline: none;
}

   

.login-form {
	margin-top: 60px;
}

form[role=login] {
	color: #5d5d5d;
	background: #f2f2f2;
	padding: 26px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}
	form[role=login] img {
		display: block;
		margin: 0 auto;
		margin-bottom: 35px;
	}
	form[role=login] input,
	form[role=login] button {
		font-size: 18px;
		margin: 16px 0;
	}
	form[role=login] > div {
		text-align: center;
	}
	
.form-links {
	text-align: center;
	margin-top: 1em;
	margin-bottom: 50px;
}
	.form-links a {
		color: #fff;
	}

    /*Holder Styles for rounded*/
.vm-holder img {
display: inline-block;
border-radius: 50%;
}

.vm-badge-for-menu {
    position: absolute;
    top: 6px;
    right: -5px;
}
.vm-bg-transparent{background-color: transparent;}
.vm-red{color: red;}
.vm-text-center{text-align:center;}
th.vm-text-th-center{text-align:center;}
td .vm-text-td-center{text-align:center;}

.bs-callout {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}

.bs-callout h4 {
    margin: 0;
}

.bs-callout p:last-child {
    margin-bottom: 0;
}

.bs-callout code {
    border-radius: 3px;
}

.bs-callout+.bs-callout {
    margin-top: -5px;
}

.bs-callout-danger {
    border-left-color: #ce4844;
}

.bs-callout-danger h4 {
    color: #ce4844;
}

.bs-callout-warning {
    border-left-color: #aa6708;
}

.bs-callout-warning h4 {
    color: #aa6708;
}

.bs-callout-info {
    border-left-color: #1b809e;
}

.bs-callout-info h4 {
    color: #1b809e;
}