<div id="pc-marketing" class="col-md-12">
    <div class="col-md-2">
        <div class="marketing-benefits">
            <div class="teaser-icon mega-octicon"><i class="fa fa-cloud vm-mkt-round"></i></div>
            <p><strong>Company &amp; Employees</strong></p>
        </div>
    </div>
    <div class="col-md-2">
        <div class="marketing-benefits">
            <div class="teaser-icon mega-octicon"><i class="fa fa-truck vm-mkt-round"></i></div>
            <p><strong>Customers &amp; Suppliers</strong></p>
        </div>
    </div>
    <div class="col-md-2">
        <div class="marketing-benefits">
            <div class="teaser-icon mega-octicon"><i class="fa fa-tags vm-mkt-round"></i></div>
            <p><strong>Inventories</strong></p>
        </div>
    </div>
    <div class="col-md-2">
        <div class="marketing-benefits">
            <div class="teaser-icon mega-octicon"><i class="fa fa-th-list vm-mkt-round"></i></div>
            <p><strong>Requirements &amp; Orders</strong></p>
        </div>
    </div>
    <div class="col-md-2">
        <div class="marketing-benefits">
            <div class="teaser-icon mega-octicon"><i class="fa fa-search-plus vm-mkt-round"></i></div>
            <p><strong>Order Tracking</strong></p>
        </div>
    </div>
    <div class="col-md-2">
        <div class="marketing-benefits">
            <div class="teaser-icon mega-octicon"><i class="fa fa-usd vm-mkt-round"></i></div>
            <p><strong>Payments &amp; Invoices</strong></p>
        </div>
    </div>
</div>