<!--<div class="row">
    <div class="row text-center text-capitalize">
        <h1 style="color:#fff;font-size:56px;">Build Connected Company in Luxury Motors</h1>
        <p style="color:#fff">Ripple offers an easy to use intuitive framework to start &amp; setup your company in minutes.</p>
    </div>
</div>-->
<div class="row" id="pwd-container">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <section class="login-form" ng-controller="masterDataController">
            <form role="login">
                <img src="app/img/logo.png" class="img-responsive" alt="" />
                <vm-select2 control-id="cboHub" place-holder="Select Hub" text-field="name" value-field="value" items="Hubs"></vm-select2>
                <input type="email" name="email" placeholder="Email" required class="form-control input-lg" value="mohanthy@gmail.co.in" />
                <input type="password" class="form-control input-lg" id="password" placeholder="Password" required="" value="mohanthy" />
                <div class="pwstrength_viewport_progress"></div>
                <button class="btn btn-lg btn-primary btn-block" ng-click="signIn()">Sign in</button>
            </form>
        </section>
    </div>

    <div class="col-md-4"></div>


</div>
<div class="row">&nbsp;</div>
<div class="row center text-center">
    <!--<section data-ng-include=" 'app/views/login/advertisements.html' "></section>-->
</div>